[Unit]
Description=AI application deployed at the Edge
After=local-fs.target

[Service]
ExecStartPre=-podman network create --ignore app

[Container]
ContainerName=app-edge-ai
Image=quay.io/nmasse-redhat/app-edge-ai:latest
Network=app

# Needed for Nvidia GPU Acceleration
PodmanArgs=--runtime /usr/bin/nvidia-container-runtime
GroupAdd=keep-groups
SecurityLabelDisable=true
Environment=NVIDIA_VISIBLE_DEVICES=nvidia.com/gpu=all

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
