[Unit]
Description=Mosquitto MQTT Broker
After=local-fs.target

[Service]
ExecStartPre=-podman network create --ignore app

[Container]
ContainerName=mosquitto
Image=docker.io/library/eclipse-mosquitto:latest
Network=app
PublishPort=1883:1883
PublishPort=9001:9001
Volume=/var/lib/mosquitto/data:/mosquitto/data:z
Volume=/var/lib/mosquitto/log:/mosquitto/log:z
Volume=/etc/mosquitto:/mosquitto/config:z

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
